header {
    background-color: #000000;
    padding-left: 20px;
    padding-right: 20px;
 
  }
  h1{
    color: #be45ce;

    font-weight: 500;
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li {
    margin-left: 20px;
  }
  nav a {
    text-decoration: none;
    color: #00c500;
    font-weight: 600;
  }
  nav a:hover {
    text-decoration: underline;
    color: #be45ce;
  }
  .logo {
    width: 72px; /* Imposta la larghezza desiderata */
    height: 72px; /* Imposta l'altezza uguale alla larghezza per un'immagine quadrata */
    margin-right: 5px;
    background-image: url('../../../img/logo2.png');
    background-size: cover;
    background-position: center;
  }
  .logoz {
    margin-right: 20px; /* Aggiungi un margine a destra per separare l'immagine dal titolo */
  }
  